#favItem {
  background-image: url("../assets/heart.png");
  background-repeat: no-repeat;
  background-size: 20px;
  padding-bottom: 35px;
  background-color: transparent;
  border: transparent;
}
.searchform {
  margin-left: auto;
  margin-right: auto;
}
/* .kind {
  color: red;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
} */

#locationInput {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Pacifico", cursive;
  font-size: 30px;
  color: rgb(233, 188, 120);
  /* text-shadow: 3px 3px black; */
}
/* #distanceRadius{
    color: red;
} */
.radioGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  /* width: 25%;
  float: left; */
  font-family: "Montserrat", sans-serif;
}
.buttonImage {
  width: 100%;
  float: right;
}

.buttonImage button {
  width: 175px;
  height: 100px;
  font-size: 20px;
  text-shadow: 2px 2px black;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
}

.buttonImage button p {
  background-color: rgba(13, 139, 139, 0.6);
  border-radius: 5px;
}

#beaches {
  background-image: url(../assets/beaches.jpg);
}

#amusements {
  background-image: url(../assets/amusement.jpg);
}

#geological_formations {
  background-image: url(../assets/geology.jpg);
}

#accomodations {
  background-image: url(../assets/hotel2.jpg);
}

#urban_environment {
  background-image: url(../assets/park.jpg);
}

#religion {
  background-image: url(../assets/religion.jpg);
}

#archaeology {
  background-image: url(../assets/archaeology.jpg);
}

#architecture {
  background-image: url(../assets/architecture.jpg);
}

#casino {
  background-image: url(../assets/casino.jpg);
}

#historic_architecture {
  background-image: url(../assets/rushmore.jpg);
}

#historical_places {
  background-image: url(../assets/temple.jpg);
}

#burial_places {
  background-image: url(../assets/memorial.jpg);
}

#museums {
  background-image: url(../assets/museum.jpg);
}

#natural {
  background-image: url(../assets/nature.jpg);
}

#foods {
  background-image: url(../assets/restaurant.jpg);
}

#shops {
  background-image: url(../assets/shopping.jpg);
}

#sport {
  background-image: url(../assets/sports.jpg);
}

#theatres_and_entertainments {
  background-image: url(../assets/theater.jpg);
}
table {
  margin-right: auto;
  margin-left: auto;
  margin-top: 350px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  color: rgb(231, 185, 114);
  border-radius: 15px;
}

.tripCreate {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 360px) {
  #locationInput {
    /* width: 25%;
  float: left; */
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
  }
}
