body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.tripCard {
  max-width: 300px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

.tripCard p {
  padding-left: 10px;
  font-weight: bold;
}

#highInt {
  color: rgb(255, 2, 2);
}

#mediumInt {
  color: rgb(25, 126, 25);
}

#lowInt {
  color: rgb(216, 152, 33);
}

body {
  /* background-image: url("../assets/palmtrees.jpg"); */
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.cardBody {
  background-color: white;
  padding: 20px;
}

.cardFooter button {
  font-size: 18px;
  background-color: rgb(181, 235, 235);
  color: black;
  border: 1px solid black;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

#tripsHeader {
  margin-left: 48%;
}

#updateCol {
  float: left;
}

#deleteCol {
  float: right;
}

#deleteCol button:hover {
  background-color: rgb(233, 14, 14);
}

#cardDescription {
  justify-content: center;
  font-style: italic;
}

#cardSites {
  padding-left: 10px;
}

#cardInt {
  justify-content: center;
}

/*  tablet */
/* @media screen and (min-width: 260px) {
    .tripViewTable{
        display: flex;
        flex-direction: row;
        
    }
  } */
