.tripViewTable {
  display: flex;
  flex-direction: row;
  width: 75%;
}
#tripTable {
  margin-right: 200px;
}
#tripImage {
  padding-left: 300px;
}

/*  tablet */
/* @media screen and (min-width: 260px) {
    .tripViewTable{
        display: flex;
        flex-direction: row;
        
    }
  } */
