@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap");

.jumbotron {
  margin-left: 25%;
  padding-left: 5%;
  padding-right: 15;
  margin-right: 30%;
  border: darkblue solid 3px;
  border-radius: 15px;
  position: center;
  padding-bottom: 15px;
}
